<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.0.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <context:component-scan base-package="com.alex.realm"/>

    <!--这个必须配置在spring-servlet中-->
    <security:global-method-security pre-post-annotations="enabled" proxy-target-class="true" />
    <!-- 解决@ResponseBody 的实现类其默认的编码是 iso-8859-1的问题 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <!-- default StringHttpMessageConverter, solve encoding problem -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8" />
                <property name="writeAcceptCharset" value="false" />
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:resources mapping="/dist/**" location="./dist/"/>
    <mvc:resources mapping="/swaggerUI/**" location="./swaggerUI/"/>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="104857600" />
        <property name="maxInMemorySize" value="4096" />
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>


    <!-- 配置freemarker-->
    <!--<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">-->
        <!--<property name="templateLoaderPath" value="/WEB-INF/freemarker/"/>-->
        <!--<property name="defaultEncoding" value="utf-8"/>-->
    <!--</bean>-->

    <!--<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">-->
        <!--<property name="cache" value="true"/>-->
        <!--<property name="prefix" value=""/>-->
        <!--<property name="suffix" value=".ftl"/>-->
        <!--<property name="exposeRequestAttributes" value="true" />-->
        <!--<property name="requestContextAttribute" value="request"/>-->
    <!--</bean>-->

</beans>